<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200356083068-9tgqaegohlf9bb2etaom9li4nnolv41g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200356083068-9tgqaegohlf9bb2etaom9li4nnolv41g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>200356083068-cc15gggpcqp7v7ttu68ld6nlnpk2s2sb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3YYRlIgiCtJeEu3ur8MYIU34CkUqCfIY</string>
	<key>GCM_SENDER_ID</key>
	<string>200356083068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garytou.fblaapp</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-development-15940</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-development-15940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200356083068:ios:69d39e602288d9d839e0f9</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-app-development-15940.firebaseio.com</string>
</dict>
</plist>